<h1>All Posts</h1>
{{> home/form-msgs}}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Title</th>
        <th>Status</th>
        <th>Category</th>
        <th>Allow Comments</th>
        <th>Date</th>
        <th>View</th>

    </tr>
    </thead>

    <tbody>

        {{#each posts}}
        <tr>
            <td>{{id}}</td>
            <td><img height="50 px" src="/uploads/{{file}}"></td>
            <td>{{title}}</td>
            <td>{{status}}</td>
            <td>{{category.name}}
            </td>
            <td>{{allowComments}}</td>
            <td>{{dateFormat date 'MMMM Do YYYY'}}</td>
            <td ><a href="/post/{{slug}}">View</a>
            </td>

        </tr>
        {{/each}}
    </tbody>

</table>